In [2]:
import pandas as pd
import numpy as np

In [7]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1  ,   2,   3,   1,   3,   1,   2,   2,3]])

# data initial
data

a  1    1.852870
   2   -0.531878
   3   -1.212967
b  1    0.985662
   3    0.977792
c  1   -3.070606
   2   -0.422813
d  2   -0.317647
   3    0.097792
dtype: float64

In [10]:
# view indexs
data.index

# get mult indexs
data['b':'c']

b  1    0.985662
   3    0.977792
c  1   -3.070606
   2   -0.422813
dtype: float64

In [19]:
data.loc[['b','d']]

# select inne level
data.loc[:,2]

a   -0.531878
c   -0.422813
d   -0.317647
dtype: float64

In [25]:
data.unstack()

#invert unstack
# data.unstack().stack()

          1         2         3
a  1.852870 -0.531878 -1.212967
b  0.985662       NaN  0.977792
c -3.070606 -0.422813       NaN
d       NaN -0.317647  0.097792

In [27]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
        index =[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
        columns=[['Ohio', 'Ohio', 'Colorado'],['Green', 'Red', 'Green']])

frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [32]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']

frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [33]:
# get by name colums
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [35]:
# sorte data by values
frame.swaplevel('key1', 'key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [36]:
# sorte data by level
frame.sort_index(level=1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

Indexing with a DataFrame’s columns