1 . Como importar pandas e verificar a versão?

In [5]:
# importando pandas
import pandas as pd

# verificando versão
pd.__version__

'0.19.2'

2 . Qual a diferença entre uma lista, um dicionário, um array numpy e uma series
pandas?

- Lista em python é redimensionável e pode conter elementos diferentes, os valores são localizados por meio de index;


- Dicionário armazena pares (chave e valor), o valor pode ser outro conjunto de dados


- Array numpy é uma grade de valores, todos do mesmo tipo e é indexada por valores inteiros; array numpy é mais eficiente para representar dados multidimensionais e realizar cálculos numéricos;


- Series pandas é um array rotulado unidimensional capaz de armazenar dados de qualquer tipo. É muito usado para mesclar vários conjuntos de dados entre si.

3 . Crie uma série de pandas de cada um dos itens abaixo: uma lista, numpy e um
dicionário

In [14]:
import numpy as np

# series panda Lista
mylist = list('abcedfghijklmnopqrstuvwxyz')

serieList = pd.Series(mylist)
print("Usando Series Panda com Lista")
print(serieList)

# series panda Dicionário
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

serieDic = pd.Series(mydict)
print("\n\nUsando Series Panda com Dicionário")
print(serieDic)

Usando Series Panda com Lista
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object


Usando Series Panda com Dicionário
a     0
b     1
c     2
d     4
e     3
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

4 . Como mudar os valores de uma série após ela ser criada?

In [18]:
# Para mudar os valores de uma series panda, usando a função upadate

minhaSerie = pd.Series([1, 2, 3])
print("Series com valores inicial")
print(minhaSerie)

minhaSerie.update(pd.Series([4, 5, 6]))
print("\nSeries com valores alterados")
print(minhaSerie)

Series com valores inicial
0    1
1    2
2    3
dtype: int64

Series com valores alterados
0    4
1    5
2    6
dtype: int64

5 . Combine ser1 e ser2 para formar um dataframe.

In [32]:
letras = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
numeros = pd.Series(np.arange(26))

# criamos um frame(ou dicionario) usando as series
frame = {'Letras' : letras, 'Numeros' : numeros}

# agora criamos o data frame, a partir do frame criado
meuDataFrame = pd.DataFrame(frame)
meuDataFrame

   Letras  Numeros
0       a        0
1       b        1
2       c        2
3       e        3
4       d        4
5       f        5
6       g        6
7       h        7
8       i        8
9       j        9
10      k       10
11      l       11
12      m       12
13      n       13
14      o       14
15      p       15
16      q       16
17      r       17
18      s       18
19      t       19
20      u       20
21      v       21
22      w       22
23      x       23
24      y       24
25      z       25

6 . Como atribuir nome ao índice da série? Dê um nome para a série que está chamando
de ’alfabeto’

In [37]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.rename("alfabeto")

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alfabeto, dtype: object

7 . Como obter os itens da série A não presentes na série B?

In [66]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
frame = {"ser1": ser1, "ser2": ser2}
df = pd.DataFrame(frame)

set(df1['c2']).intersection(set(df2['c2']))

TypeError: 'Series' objects are mutable, thus they cannot be hashed